div{
	border-radius: 5px;	
}
#header{
	background-color: #668284;
	text-align: center;
	padding: 2px;
}
#header p{
	padding-top: 5px;
	font-family: cursive;
	font-weight: bold;
	font-size: large;
	color: white;
}
#header div{
	display: inline-block;
}
#triton{
	float: left;
}
#sungod{
	float: right;
}
#header div img{
	height:150px;
	width: 100px;
}
#footer{
	background-color: #668284;
	clear: both;
	text-align: right;
}
#footer p{
	color: white;
	font-family: serif;
	font-size: large;
	padding-bottom: 5px;
}
#footer p a{
	text-decoration: none;
	color:blue;
}
a:hover {
	font-weight: bold;
}

.content{
	background-color: #F4EBC3;
	padding: 1px;
}
img{
	height: 100px;
	width: 100px;
}
h1{
	font-size: xx-large;
	font-family: cursive;
	color:red;
}
h3{
	background-color: gray;
	font-family: cursive;
	font-size: x-large;
	color:blue;
	text-align: center;
}